@import "../../../constants/colors.scss";
@import "../../../constants/fonts.scss";

.onboarding-supportperson-container{
    margin-top: 65px;
}

.addCardSupportPerson ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
   
}


.addCardSupportPerson ul li {
    list-style: none;
    flex: 0 0 25%;
}




.card-content{
    display: block;
    object-fit: cover;
    height: auto;
}

