/* Calendar.scss */

.calendar-container {
    background-color: black;
    height: 600px; // Adjust the height as needed
  }
  
  .custom-event {
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  }
  
  .rbc-show-more {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: 1px solid white;
    padding: 2px 5px;
    cursor: pointer;
  }

  .selectedButton {
    box-shadow: "1px 1px 10px 0px blue";
  }
  